<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        Ferramenta de classificação automática
    </title>
    <style>
        div.texto_central {
            width: 600px;
            height: 400px;
            overflow: auto;
            text-align: center;
            margin: auto;
            width: 60%;
            padding: 10px;
            
        }
    </style>
</head>
<body>
    <br>
    <br>
    <div class="texto_central">
        <p>{{raw_text}}</p>
    </div>
    <div style="text-align: center">
        <form action="classify_text" method="POST" name="form_texto">
            <input type="hidden" id="textId" name="textId" value={{textId}}>
            <select name="item_class">
                {% for class_id, item_class in item_classes %}
                    <option value="{{class_id}}">{{item_class}}</option>
                {% endfor %} 
            </select> 
            <br>
            <br>
            <button>Enviar classificação</button>
        </form>
    </div>
</body>