<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        Ferramenta de classificação automática
    </title>
</head>
<body>
    <br>
    <br>
    <br>
    <div class="texto_central" style='text-align:center'>
        <p> Ferramenta para classificar textos do tipo: {{ tipo_texto }}</p>
        {% if model_score %}
            <p> O processo de classificação acabou e a acurácia do modelo é {{ model_score }}</p>
        {% else %}
            <p> Não há textos a serem classificados! Inicie o processo de classificação indicando textos.</p>
        {% endif %}
    </div>
</body>