Cython
Xlib
pyautogui
bs4
selenium
matplotlib
pandas
sklearn
lxml
numpy
scipy
wheel
fasttext
click
pymysql
SpeechRecognition
nltk
pdfminer.six
PyPDF2
gensim
autopep8
pytesseract
opencv-python
Flask
docx2txt
arrow
wordcloud