<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        Ferramenta de classificação automática
    </title>
</head>
<body>
    <br>
    <br>
    <br>
    <div class="texto_central" style='text-align:center'>
        <p> Ferramenta para classificar textos do tipo:</p>
        <p>{{nome_classes}}</p>
        <p> Número de textos ainda a classificar: {{numero_textos_sem_classe}}</p>
        <a href="classificar_texto">Classificar texto</a>
    </div>
</body>