<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        Pesquisa de jurisprudência
    </title>
</head>
<body>
    <br>
    <br>
    <br>
    <div align='center'>
        <h3> Download de jurisprudência com o texto escolhido</h3>
        <br>
        <form method="post" action="download_file" enctype="multipart/form-data">
            <input type="text" name="file_name" hidden="True" value={{nome_arquivo}}/>
            <input type="submit" value='Download' />
        </form>
    </div>
    <br>
    <br>
</body>