<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Pesquisa de classificação</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap-4.0.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="bootstrap-4.0.0/docs/4.0/examples/sign-in/signin.css" rel="stylesheet">
    <style type="text/css">
      .div-central {
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        padding-top: 15%;
      }
    </style>
  </head>

  <body>
    <div class='div-central'>
    <p>INSPER - CNJ</p>
    <p>versão 2.7</p>
    <p>Id: {{ id_p }}</p>
    <p>Classe: {{ classe }}</p>
    </div>
  </body>
</html>