<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <title>Classificação</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap-4.0.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="bootstrap-4.0.0/docs/4.0/examples/sign-in/signin.css" rel="stylesheet">

    </style>
  </head>

  <body>
      <nav class="grey darken-3" role="navigation">

          <ul id="nav-mobile" class="side-nav ">
            <li><a href="https://github.com/danilopcarlotti/Pesquisas">Github</a></li>
          </ul>
        </div>
      </nav>
      <h1 class='center-align blue-grey-text darken-3 col s12 m8 l6'>Classifique o texto abaixo</h1>
      <h4 class='center-align blue-grey-text darken-3 col s12 m8 l6'>Tribunal: {{ tribunal }}</h4>
    <div class ="container flow-text" >
      <div class ="row" >
        
      </div>
      <div class = "row">
      </div>
      <div class = "row" >
        <div class = 'texto-juridico col s12 m8 l9'>
            {{ texto_decisao }}
        </div>
        <br>
        <div class = "right form">
          <form action = "http://localhost:5000/classificacao_texto" method = "post">
              <!-- <input type="radio" name="classe" value="0"> Não sei<br>
              <input type="radio" name="classe" value="1"> Relevante<br>
              <input type="radio" name="classe" value="-1"> Irrelevante<br>
            <button  type="submit ">Enviar classificação</button> -->
            <div class='row form-buttons'>

            <button class="btn-large waves-effect waves-light col s12 m12 l12" value="1" type="submit" name="classe">Relevante
                <i class="material-icons right">sentiment_very_satisfied</i>
            </button>
            <div class="section">

            <button class="btn-large waves-effect waves-light red darken-1 col s12 m12 l12 " value="-1" type="submit" name="classe">Irrelevante
                <i class=" material-icons right">sentiment_very_dissatisfied</i>
            </button>
          </div>
            <div class="divider"></div>
            <button class="btn-large waves-effect waves-light col s12 m12 l12 blue-grey darken-1" value="0" type="submit" name="classe">Não Sei
                <i class="material-icons right">sentiment_neutral</i>
            </button>
          
            </div>
          </form>
        </div>
      
      </div>
    
    </div>
  </body>
</html>