.texto-juridico { 
    white-space: pre-line;       /* Since CSS 2.1 */
    word-wrap: break-word;

}
.form-buttons{
    position: fixed;
}

@media only screen and (max-width: 800px) {
    .form{
        position: relative;
        width: 100%;
    }
    .form-buttons{
        position: relative;
    }
}