<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        Pesquisa de preços - 2019 - Municípios do Estado de São Paulo
    </title>
    <style>
        div.texto_central {
            width: 600px;
            height: 400px;
            overflow: auto;
            text-align: center;
            margin: auto;
            width: 60%;
            padding: 10px;
            
        }
    </style>
</head>
<body>
    <br>
    <br>
    <h1 align='center'>Pesquisa em compras públicas<br>Municípios de São Paulo<br>2019</h1>
    <br><br><br><br>
    <div style="text-align: center">
        <form action="search_text" method="POST" name="form_texto">
            <label for="search">Insira os termos de busca separados por espaço</label>
            <br>
            <input type="search" id="search" name="search" size="50">
            <br>
            <br>
            <button>Gerar relatório</button>
        </form>
    </div>
</body>